@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  .name::first-letter{
    text-transform: uppercase;
}
 .container {
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .container-pokemons{
    width: 80vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
  }


/* Estilos generales */
body {
  font-family: Lexend, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://cdn.sortiraparis.com/images/80/98390/869370-pokemon-le-dernier-episode-du-dessin-anime-diffuse-25-ans-apres-ses-debuts.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}


/* Estilos para el encabezado */
.site-header {
  background-color: #FFCB05;
  padding: 20px;
  text-align: center;
}

.logo {
  margin: 0;
  font-size: 36px;
  color: #333; /* Cambiar color para mayor contraste */
}

.main-nav {
  margin-top: 20px;
}

.nav-menu {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: #333; /* Cambiar color para mayor contraste */
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #FFCB05; /* Cambiar color al pasar el ratón */
}

/* Estilos para las secciones */
.section {
  padding: 50px 20px;
  text-align: center;
}

.inicio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 50px 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 black;

}

.text-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;
  max-width: 400px;
  min-height: 350px;
  gap: 20px;
}
.inicio-section img {
  width: 250px;
  height: auto;
  margin-right: 20px;
}



/* Estilos para el pie de página */
.site-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.Btn-inicio {
  background-color: #FFCB05;
  color: #333;
  padding: 10px 20px;
  border: black 2px solid;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 150px;
  text-align: center;
}


.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 50px 20px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 black;
}

.error404 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.error404 ul li {
  background-color: red;
  padding: 1rem;
  border-radius: 25px;
  list-style: none;
}
.volver {
  background-color: #FFCB05;
  color: #333;
  padding: 10px 20px;
  border: black 2px solid;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 150px;
  text-align: center;
}
@keyframes bounce {
  0% { transform: scale(1.0); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1.0); }
}

.error404 ul li:hover {
  cursor: pointer;
  background-color: #FFCB05;
  animation: bounce 0.5s ease;
  transition: background-color 0.3s ease;
}

.error404 ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}