*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
    position: relative;
    margin-bottom: 50px;
    background-color: red;
    border-bottom: 5px solid black;
}

.header-logo{
    height: 100px;
}

.header-icon{
    color: black;
    font-size: 1.5em;
    margin: 0 5px;
    transition: 0.3s;
}

.header-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(96, 96, 96);
}

.header-icon-menu{
    font-size: 2em;
}

.header-nav{
    position: absolute;
    top: 79px;
    left: -100%;
    height: 40px;
    width: 100%;
    z-index: 100;
    transition: 0.5s;
}

#checkboxMenu:checked + .header-nav{
    left: 0;
}

.header-nav ul{
    list-style: none;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px;
}

.header-nav ul a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.header-nav ul li{
    transition: 0.3s;
}

.header-nav ul li:hover{
    transform: scale(1.1);
}

.img-menu{
    z-index: 1000;
    width: 50px;
    height: 30px;
    margin: 62px 5px;
}

.img-menu img{
    width: 100%;

}